
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nextDays {
  margin-bottom: 30px;
  border-bottom: 1px solid #333;
}

.task-lists {
  .header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.task-form {
  margin-bottom: 20px;
  .button-box {
    display: flex;
    justify-content: flex-end;

    .btn:nth-child(1) {
      margin-right: 10px;
    }
  }
}

