
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.task-lists {
  .header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    &>a{
      padding: 10px;
      text-decoration: underline;
    }
  }
}
